.button {
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  padding: 14px 37px;
  border-radius: 22px;
  border: none;
}
.button-red:hover,
.button-red:focus {
  background-color: var(--button-bgcolor-hover);
  color: var(--button-color-hover);
}
.button-white:hover,
.button-white:focus {
  background-color: var(--button-color-hover);
  color: var(--accent-color);
}

.button-hero {
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  padding: 8px 15px;
  @media screen and (min-width: $desktop) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
  }
}

.button-red {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}
.button-white {
  background-color: var(--secondary-text-color);
  color: var(--accent-color);
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}