body {
	background-color: #ffffff;
	color: var(--primery-text-color);
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 0.04em;
}

html, body {
	overflow-x: hidden;
        overflow-y:scroll;
        -webkit-overflow-scrolling: touch;
}