.container {
	width: 100%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	
	@media screen and (min-width: $mobile) {
		width: 480px;
	}
	@media screen and (min-width: $tablet) {
		width: 768px;
	}
	@media screen and (min-width: $desktop) {
		width: 1200px;
	}
}
