.contacts {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-background-color);
  padding-top: 86px;
  padding-bottom: 113px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgba(255, 245, 246, 1) 90%, rgba(255, 255, 255, 1) 90%);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(0deg, rgba(255, 245, 246, 1) 90%, rgba(255, 255, 255, 1) 90%);
  }

  @media screen and (min-width: $tablet) {
    background-image: linear-gradient(0deg, rgba(255, 245, 246, 1) 80%, rgba(255, 255, 255, 1) 80%);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
        0deg,
        rgba(255, 245, 246, 1) 80%,
        rgba(255, 255, 255, 1) 80%
      );
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/contacts-bg.png),
      linear-gradient(0deg, rgba(255, 245, 246, 1) 80%, rgba(255, 255, 255, 1) 80%);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/contacts-bg@2x.png),
        linear-gradient(0deg, rgba(255, 245, 246, 1) 80%, rgba(255, 255, 255, 1) 80%);
    }
  }
}
.contacts__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts__list {
  
  @media screen and (min-width: $tablet) {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 86px;
  }
}
.contacts__item {
  padding: 43px 20px;

  width: 100%;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: $tablet) {
    // flex-basis: calc(100% / 3 - 30px);
    width: 220px;
  }
  @media screen and (min-width: $desktop) {
    width: 330px;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 20px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}
.contacts__item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 54px;
  }
}

.contacts__line {
  width: 100%;
  height: 1px;
  background-color: var(--line);
  margin: 25px 0px;
}
.contacts__object {
  color: var(--secondary-text-color);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 25px;
  border-radius: 4px;
  margin-bottom: 25px;
}
.contacts__object--first {
  background-color: #f0d1a5;
}
.contacts__object--second {
  background-color: #c2e297;
}
.contacts__town {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  /* or 22px */
  letter-spacing: 0.04em;
  display: block;
  color: var(--primery-text-color);
  margin-bottom: 10px;
}
.contacts__discription {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  /* or 150% */
  color: var(--fours-text-color);
}
.contacts__worktime {
  margin-bottom: 10px;
}
.contacts__worktime--margin {
  margin-bottom: 0px;
}
.contacts__day {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--primery-text-color);
  margin-bottom: 5px;
}
.contacts__time {
  display: block;
  color: var(--third-text-color);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
 
}
.contacts__link {
  display: block;
  color: var(--fours-text-color);
    font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;

  text-decoration: none;
}
.contacts__data:not(:last-child) {
  margin-bottom: 5px;
}


.contacts__button-group {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.contacts__button {
  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}
.contacts__button:not(:last-child) {
  @media screen and (max-width: $tablet) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 15px;
  }
}
.contacts__button-mobile{
  @media screen and (max-width:$tablet){
    width:210px;    
  }
 

}

