.slider__item-wrap {
  background-repeat: no-repeat;
  text-align: center;
}
.slider__img {
  margin-left: auto;
  margin-right: auto;
}
.slick-dots {
  left: 0;
}

.slider__text-general-wrap {
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 280px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 620px;
  }
  @media screen and (min-width: 1200px) {
    width: 926px;
    padding: 32px 50px;
    margin-top: 29px;
  }
}

.slider__text-wrap {
  margin-left: auto;
  margin-right: auto;
}

.slider__text {
  display: block;
  position: relative;

  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 2.5833333333;

  letter-spacing: 0.04em;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 30px,
      #e1e1e1 0,
      #e1e1e1 31px
    );
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 37px,
      #e1e1e1 0,
      #e1e1e1 38px
    );
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 37px,
      #e1e1e1 0,
      #e1e1e1 38px
    );
  }
}
.slider__text::before {
  content: '';
  width: 54px;
  height: 40px;

  position: absolute;
  top: -15px;
  left: -30px;
}
.slider__text::before {
  display: block;

  background-image: url(../images/“.png);
  z-index: -1;
}

.slider__text::after {
  display: block;

  background-image: url(../images/customer-reviews-ellipse.png);
}

.slider__text::after {
  content: '';
  width: 32px;
  height: 4px;

  position: absolute;
  right: 50%;
  transform: translateX(50%);

  bottom: -40px;
}

.slider__eclipes-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  margin-top: 30px;
}
.slider__eclipes:not(:last-child) {
  margin-right: 10px;
}
.slider__user-name {
  margin-top: 66px;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.86;

  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.slick-dots li.slick-active button:before {
  background-image: url(../images/customer_reviews.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #d31342;
}
