.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery__container {
  margin-left: auto;
  margin-right: auto;
}

.gallery__list {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 140px);
  grid-template-rows: repeat(100, 7px);
  // grid-gap: 7px;
  grid-column-gap: 7px;
}

.gallery__list-item--1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 21;
  grid-row-end: 41;
}
.gallery__list-item--2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 31;
}
.gallery__list-item--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 41;
}
.gallery__list-item--4 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 14;
  grid-row-end: 34;
}
.gallery__list-item--5 {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 26;
}
.gallery__list-item--6 {
  grid-column-start: 7;
  grid-column-end: 7;
  grid-row-start: 23;
  grid-row-end: 43;
}
.gallery__list-item--7 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 32;
  grid-row-end: 52;
}
.gallery__list-item--8 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 42;
  grid-row-end: 62;
}
.gallery__list-item--9 {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 35;
  grid-row-end: 55;
}
.gallery__list-item--10 {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 27;
  grid-row-end: 47;
}

.gallery__list--2 {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(100, 1fr);
  // grid-gap: 7px;
  grid-column-gap: 7px;
}
