.gallery {
  padding-bottom: 80px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(255, 245, 246, 1) 60%);
}

.gallery__container {
  // margin-left: auto;
  // margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.gallery__list--2 {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(24, 1fr);
  @media (min-width: 768px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 7px;
  }
}

.gallery__list-item {
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.7);
  }
  &:hover .gallery__item-wrap {
    box-shadow: 0 0 10px 5px rgba(255, 165, 186, 0.3);
    border: 1px solid rgba(255, 165, 186, 0.3);
  }
  &:hover .gallery__item-wrap--big {
    box-shadow: 0 0 10px 5px rgba(255, 165, 186, 0.3);
    border: 1px solid rgba(255, 165, 186, 0.3);
  }
}

.gallery__item-wrap {
  width: 100%;
  border-radius: 20%;
  border: 1px solid transparent;
  overflow: hidden;
  @media (min-width: 480px) {
    width: 140px;
  }
  @media (min-width: 768px) {
    width: 90px;
  }
  @media (min-width: 1200px) {
    width: 140px;
  }
}
.gallery__item-wrap--big {
  width: 100%;
  border-radius: 20%;
  border: 1px solid transparent;
  overflow: hidden;
  @media (min-width: 480px) {
    width: 287px;
  }
  @media (min-width: 768px) {
    width: 187px;
  }
  @media (min-width: 1200px) {
    width: 287px;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
}
.gallery__list-item--1 {
  // @media (min-width: 768px) {
  // }
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 9;
  }
}
.gallery__list-item--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  @media (min-width: 768px) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
  }
}
.gallery__list-item--3 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 13;
  @media (min-width: 768px) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
  }
}
.gallery__list-item--4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 9;
  @media (min-width: 768px) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 8;
  }
}
.gallery__list-item--5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 13;
  @media (min-width: 768px) {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
  }
}
.gallery__list-item--6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 13;
  grid-row-end: 17;
  @media (min-width: 768px) {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
  }
}
.gallery__list-item--7 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 17;
  @media (min-width: 768px) {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 11;
  }
}
.gallery__list-item--8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 13;
  grid-row-end: 17;
  @media (min-width: 768px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 13;
  }
}

.gallery__list-item--9 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 17;
  grid-row-end: 21;
  @media (min-width: 768px) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 13;
  }
}
.gallery__list-item--10 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 17;
  grid-row-end: 21;
  @media (min-width: 768px) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 12;
  }
}
.gallery__list-item--11 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 21;
  grid-row-end: 25;
  @media (min-width: 768px) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
  }
}
