<section class="about" id="about">
    <div class="container">
        <p class="about__label">tradition and love </p>
        <h2 class="about__h">how it’s made?</h2>
                <div class="about__milk">
                    
                <picture class="about__cow">
                    <source srcset="images/about-cow.png 1x, images/about-cow@2x.png 2x "
                    media="(min-width: 1200px)">
                    <source srcset="images/about-cow-tab.png 1x, images/about-cow-tab@2x.png 2x "
                    media="(min-width: 768px)">
                    <source srcset="images/about-cow-mob.png 1x, images/about-cow-mob@2x.png 2x"
                    media="(min-width: 480px)">
                    <img src="images/about-cow.png" alt="cow">
                </picture>

                        <div class="about__text">
                            <p class="about__text-top">Fusce ut velit laoreet, tempus arcu eu,
                        molestie tortor. Nam vel justo cursus, 
                        faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                            </p>
                            
                             <div class="about__text-bottom">
                                    
                                        <p class="about__text-bottom-up">
                                            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                                            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                                        </p>
                                        <p class="about__text-bottom-down">
                                            Aliquam erat volutpat. Aenean accumsan.
                                        </p>
                                  </div>

                                  <button class="button button-white js-open-modal" data-modal="cow" type="button">
                                    Read more<svg width="10px" height="10px" class="button__icon-white">
                                      <use href="images/symbol-defs.svg#icon-button-short-arrow2"></use>
                                    </svg>
                                  </button>
                         </div>
    </div>
</div>            
</section>
