<section>
    <p>tradition and love </p>
    <h2>how it’s made?</h2>
    <picture>
        <source srcset="images/about-cow.png 1x, images/about-cow.png 2x"
         media="(min-width: 1200px)">
         <source srcset="images/about-cow-tab.png 1x, images/about-cow-tab.png 2x"
         media="(min-width: 768px)">
         <source srcset="images/about-cow-mob.png 1x, images/about-cow-mob.png/ 2x"
         media="(min-width: 480px)">
         <img src="images/about-cow.png" alt="cow">
    </picture>


    <button class="button button-white" type="button">Read more</button>
</section>