<section class="advantages" id="advantages">
  <div class="advantages__container container">
    <h2 class="visually-hidden">Список преимуществ</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__description advantages__description--milk">721</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__description advantages__description--apple">16kg</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__description advantages__description--candy">84</p>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
