<section class="advantages">
  <div class="advantages__container container">
    <h2 class="visually-hidden">Список преимуществ</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <a class="advantages__link" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoMUji45HN3gnxC7P5hxX3M2qGRHSRcP0nimJiPWHOX6SJeZv1w77mpU8nymSivldm6I8&usqp=CAU">
          <p class="advantages__description advantages__description--milk">721</p>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </a>
      </li>
      <li class="advantages__item">
        <a class="advantages__link" href="https://images.ua.prom.st/2835203211_w640_h640_girya-vinilovaya-16.jpg">
          <p class="advantages__description advantages__description--apple">16kg</p>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </a>
        
      </li>
      <li class="advantages__item">
        <a class="advantages__link" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSOa0tQwTKgZdSo2tIHeEg0X0WgIw7lzo0wQ&usqp=CAU">
          <p class="advantages__description advantages__description--candy">84</p>
          <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </a>
      </li>
    </ul>
  </div>
</section>






