<section class="contacts " id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__object contacts__object--first">Cafe</p>
        <p class="contacts__town">Chicago</p>
        <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__line"></div>
        <ul class="contacts__worktime">
          <li class="contacts__day">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="contacts__worktime contacts__worktime--margin">
          <li class="contacts__day">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="contacts__line"></div>
        <ul>
          <li class="contacts__data">
            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284 </a>
          </li>
          <li><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__object contacts__object--second">Foodtruck</p>
        <p class="contacts__town">Los Angeles</p>
        <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__line"></div>
        <ul class="contacts__worktime">
          <li class="contacts__day">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="contacts__worktime contacts__worktime--margin">
          <li class="contacts__day">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="contacts__line"></div>
        <ul>
          <li class="contacts__data">
            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284 </a>
          </li>
          <li><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__object contacts__object--first">Cafe</p>
        <p class="contacts__town">New York</p>
        <p class="contacts__discription">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__line"></div>
        <ul class="contacts__worktime">
          <li class="contacts__day">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="contacts__worktime contacts__worktime--margin">
          <li class="contacts__day">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>

        <div class="contacts__line"></div>
        <ul>
          <li class="contacts__data">
            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284 </a>
          </li>
          <li><a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <div class="contacts-button-group">
      <button class="button button-red contacts-button js-open-modal" type="button" data-modal="locations">
        Our Locations<svg width="10px" height="10px" class="button__icon-red">
          <use href="images/symbol-defs.svg#icon-button-short-arrow"></use>
        </svg>
      </button>

      <button class="button button-white contacts-button js-open-modal" type="button" data-modal="franchise" >
        Franchise
        <svg width="10px" height="10px" class="button__icon-white">
          <use href="images/symbol-defs.svg#icon-button-short-arrow2"></use>
        </svg>
      </button>
    </div>

    <!-- <button type="button" class="button button-hero button-red" >Products</button>
    <button type="button" class="button button-hero button-white" >How it’s made?</button>
  
  
    <button class="button button-white" type="button">Buy now</button>
    -->
  </div>
</section>
