<div class="multiple-items">
    <div class="slider-item-wrap">
        <img class="slider-img" src="images/customer-reviews-first.png" alt="" width="85" height="85">
        <div class="slider-text-wrap">
            <p class="slider-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias tempora
                quas debitis. Dolores dolor asperiores eveniet, labore sapiente et. Repellendus possimus nostrum ab
                aspernatur aut voluptas porro dolorum natus.</p>
        </div>
        <div class="slider-eclipes-wrap">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
        </div>
        <p class="slider-user-name">Emily, Los Angeles</p>
    </div>
    <div class="slider-item-wrap">
        <img class="slider-img" src="images/customer-reviews-second.png" alt="" width="85" height="85">
        <div class="slider-text-wrap">
            <p class="slider-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias tempora
                quas
                debitis. Dolores dolor asperiores eveniet, labore sapiente et. Repellendus possimus nostrum ab
                aspernatur aut
                voluptas porro dolorum natus.</p>
        </div>
        <div class="slider-eclipes-wrap">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
        </div>
        <p class="slider-user-name">Emily, Los Angeles</p>
    </div>
    <div class="slider-item-wrap">
        <img class="slider-img" src="images/customer-reviews-third.png" alt="" width="85" height="85">
        <div class="slider-text-wrap">
            <p class="slider-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias tempora
                quas
                debitis. Dolores dolor asperiores eveniet, labore sapiente et. Repellendus possimus nostrum ab
                aspernatur aut
                voluptas porro dolorum natus.</p>
        </div>
        <div class="slider-eclipes-wrap">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
            <img class="slider-eclipes" src="images/Ellipse 6.png" alt="" width="4" height="4">
        </div>
        <p class="slider-user-name">Emily, Los Angeles</p>
    </div>
</div>
















Запишите что-нибудь