<section class="gallery">
  <div class="gallery__container container">
    <!-- <ul class="gallery__list container">
      <li class="gallery__list-item--1"><img src="images/test-gallery/gallery-1.jpg" alt="" /></li>
      <li class="gallery__list-item--2"><img src="images/test-gallery/gallery-2.jpg" alt="" /></li>
      <li class="gallery__list-item--3">
        <div class="gallery__item-wrap">
          <img src="images/test-gallery/gallery-3.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item--4"><img src="images/test-gallery/gallery-4.jpg" alt="" /></li>
      <li class="gallery__list-item--5"><img src="images/test-gallery/gallery-5.jpg" alt="" /></li>
      <li class="gallery__list-item--6"><img src="images/test-gallery/gallery-6.jpg" alt="" /></li>
      <li class="gallery__list-item--7"><img src="images/test-gallery/gallery-7.jpg" alt="" /></li>
      <li class="gallery__list-item--8"><img src="images/test-gallery/gallery-8.jpg" alt="" /></li>
      <li class="gallery__list-item--9"><img src="images/test-gallery/gallery-8.jpg" alt="" /></li>
      <li class="gallery__list-item--10"><img src="images/test-gallery/gallery-9.jpg" alt="" /></li>
      <li class="gallery__list-item--11">
        <img src="images/test-gallery/gallery-10.jpg" alt="" />
      </li>
    </ul> -->

    <ul class="gallery__list--2">
      <li class="gallery__list-item gallery__list-item--1">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-1.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--2">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-2.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--3">
        <div class="gallery__item-wrap--big">
          <img class="gallery__img" src="images/test-gallery/gallery-3.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--4">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-4.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--5">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-5.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--6">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-6.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--7">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-7.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--8">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-8.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--9">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-9.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--10">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-10.jpg" alt="" />
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--11">
        <div class="gallery__item-wrap">
          <img class="gallery__img" src="images/test-gallery/gallery-11.jpg" alt="" />
        </div>
      </li>
    </ul>
    <!-- <picture>
      <source
        srcset="images/gallery.png 1x, images/gallery@2x.png 2x"
        media="(min-width: 1200px)"
        type="image/png"
      />
      <source
        srcset="images/gallery-tab.png 1x, images/gallery-tab@2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="images/gallery-mob.png 1x, images/gallery-mob@2x.png 2x"
        media="(min-width: 320px)"
        type="image/png"
      />
      <img class="gallery__image" src="images/gallery-mob@2x.png" alt="Галлерея фотографий" />
    </picture> -->
  </div>
</section>
