<section class="gallery">
  <div class="gallery__container container">
    <h2 class="visually-hidden">Gallery our products</h2>
    <ul class="gallery__list--2">
      <li class="gallery__list-item gallery__list-item--1">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-1.jpg 1x, images/gallery-1@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-1-tab.jpg 1x, images/gallery-1-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-1.jpg 1x, images/gallery-1@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img
              class="gallery__img"
              src="images/gallery-1.jpg"
              alt="Жёлтое мороженное в тарелке"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--2">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-2.jpg 1x, images/gallery-2@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-2-tab.jpg 1x, images/gallery-2-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-2.jpg 1x, images/gallery-2@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-2.jpg" alt="Мороженное в руке" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--3">
        <div class="gallery__item-wrap--big">
          <picture>
            <source
              srcset="images/gallery-3.jpg 1x, images/gallery-3@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-3-tab.jpg 1x, images/gallery-3-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-3.jpg 1x, images/gallery-3@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-3.jpg" alt="Много рожков" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--4">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-4.jpg 1x, images/gallery-4@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-4-tab.jpg 1x, images/gallery-4-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-4.jpg 1x, images/gallery-4@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-4.jpg" alt="Мороженное с ежевикой" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--5">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-5.jpg 1x, images/gallery-5@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-5-tab.jpg 1x, images/gallery-5-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-5.jpg 1x, images/gallery-5@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-5.jpg" alt="Собака ест мороженное" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--6">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-6.jpg 1x, images/gallery-6@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-6-tab.jpg 1x, images/gallery-6-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-6.jpg 1x, images/gallery-6@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-6.jpg" alt="Ребенок ест мороженное" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--7">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-7.jpg 1x, images/gallery-7@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-7-tab.jpg 1x, images/gallery-7-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-7.jpg 1x, images/gallery-7@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-7.jpg" alt="Ягодное мороженное" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--8">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-8.jpg 1x, images/gallery-8@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-8-tab.jpg 1x, images/gallery-8-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-8.jpg 1x, images/gallery-8@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-8.jpg" alt="Девушка ест мороженное" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--9">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-9.jpg 1x, images/gallery-9@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-9-tab.jpg 1x, images/gallery-9-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-9.jpg 1x, images/gallery-9@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-9.jpg" alt="Мороженное с посыпкой" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--10">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-10.jpg 1x, images/gallery-10@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-10-tab.jpg 1x, images/gallery-10-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-10.jpg 1x, images/gallery-10@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-10.jpg" alt="Рождественское мороженное" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item gallery__list-item--11">
        <div class="gallery__item-wrap">
          <picture>
            <source
              srcset="images/gallery-11.jpg 1x, images/gallery-11@2x.jpg 2x"
              media="(min-width: 1200px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-11-tab.jpg 1x, images/gallery-11-tab@2x.jpg 2x"
              media="(min-width: 768px)"
              type="image/jpg"
            />
            <source
              srcset="images/gallery-11.jpg 1x, images/gallery-11@2x.jpg 2x"
              media="(min-width: 320px)"
              type="image/jpg"
            />
            <img class="gallery__img" src="images/gallery-11.jpg" alt="Напиток с мороженным" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
