<header class="header">
    <section class="container header__container">
        <nav class="header__navigation">
            <a class="header__logo" href="">
                <img src="images/header-logo.png" alt="logo">
            </a>
            <!-- MOBILEMENU -->
            <div class="mobile-menu">
                <div>
                    <button type="button" class="mobile-menu-btn__open">
                        <svg class="mobile-menu-btn__open-icon">
                            <use href="/images/symbol-defs.svg#icon-Burger"></use>
                        </svg>
                    </button>
                </div>
            
                <div class="mobile-menu__modal is-hidden ">
            
                    <div class="mobile-menu__content">
                        <button class="mobile-menu__btn-buy" type="button">Buy now
                            <svg class="mobile-menu__button-icon">
                                <use href="/images/symbol-defs.svg#icon-button-short-arrow2">
                                </use>
                            </svg>
                        </button>
                        <nav>
                            <ul class="mobile-navigation-list">
                                <li class="mobile-navigation__li">
                                    <a href="" class="mobile-navigation__text active">Home</a>
                                </li>
                                <li class="mobile-navigation__li">
                                    <a href="" class="mobile-navigation__text">About us</a>
                                </li>
                                <li class="mobile-navigation__li">
                                    <a href="" class="mobile-navigation__text">How it’s made?</a>
                                </li>
                                <li class="mobile-navigation__li">
                                    <a href="" class="mobile-navigation__text">Our products</a>
                                </li>
                                <li class="mobile-navigation__li">
                                    <a href="" class="mobile-navigation__text">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
            
                    <div class="mobile-menu-close ">
                        <button type="button" class="mobile-menu-close-btn ">
                            <svg class="mobile-menu-btn__close-icon">
                                <use href="/images/symbol-defs.svg#icon-close"></use>
                            </svg>
                        </button>
            
                    </div>
                </div>
            </div>
            <!-- MOBILEMENU -->
            
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="">Home</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">About us</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">How it’s made?</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">Our products</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="header__button" type="button">Buy now 
            <svg class="header__button-icon">
                <use 
                    href="/images/symbol-defs.svg#icon-button-short-arrow2">
                </use>
            </svg>
        </button>
    </section>
    <script src="/js/mobile.js"></script>
</header>
