<div class="hero">
    <main>
        <section class="container hero__container">
            <div class="hero__pre-text">
                <h1 class="hero__text">ice cream made with <span class="hero__big-text">passion</span></h1>
            </div>
            <ul class="hero__pre-button">
                <li>
                    <button class="hero__button-products" type="button">Products</button>
                </li>
                <li>
                    <button class="hero__button" type="button">How it’s made?</button>
                </li>
            </ul>
            <div class="hero__pre-title">
                <img class="hero__img-milk" src="images/hero-milk.png" alt="milk">
                <p class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
            </div>
            <button class="hero__pre-title-btn" type="button">
                <svg class="hero__pre-btn-icon">
                    <use href="/images/symbol-defs.svg#icon-button-right-arrow2">
                    </use>
                </svg>
            </button>
        </section>
    </main>
</div>