<div class="hero">
        <section class="container hero__container">
            <div class="hero__container-text">
                <div class="hero__pre-text">
                    <h1 class="hero__text">ice cream made with <span class="hero__big-text">passion</span></h1>
                </div>
                <div class="hero__box-container">
                    <ul>
                        <li class="hero__box-pre-container">
                            <p class="hero__box-pre-text">16</p>
                            <p class="hero__box-pre-title">cafes</p>
                        </li>
                        <li class="hero__box-pre-container">
                            <p class="hero__box-pre-text">23</p>
                            <p class="hero__box-pre-title">food trucks</p>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="hero__pre-button">
                <li class="hero__button-btn">
                    <!-- <button class="hero__button-products" type="button">Products</button> -->
                    <button type="button" class="button button-hero button-red">Products</button>
                </li>
                <li class="hero__button-btn">
                    <!-- <button class="hero__button" type="button">How it’s made?</button> -->
                    <button type="button" class="button button-hero button-white">How it’s made?</button>
                </li>
            </ul>
            <div class="hero__pre-title">
                <img class="hero__img-milk" src="images/hero-milk.png" alt="milk">
                <div>
                <p class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et</p>
                    <button class="hero__pre-title-btn" type="button">
                        <svg class="hero__pre-btn-icon">
                            <use href="/images/symbol-defs.svg#icon-button-right-arrow2">
                            </use>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
</div>