<!-- <header class="header">
    <section class="container header__container">
        <nav class="header__navigation">
            <a class="header__logo" href="">
                <img src="images/header-logo.png" alt="logo">
            </a>
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="">Home</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">About us</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">How it’s made?</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">Our products</a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">Contact</a>
                </li>
            </ul>
        </nav>
            <button class="header__button" type="button">Buy now</button>
    </section>
</header> -->
<!-- <main class="hero">
    <section class="container">
        <div class="hero__pre-text">
        <h1 class="hero__text">ice cream made with <span class="hero__big-text">passion</span></h1>
        </div>
        <ul class="hero__pre-button">
            <li>
                <button class="hero__button-products" type="button">Products</button>
            </li>
            <li>
                <button class="hero__button" type="button">How it’s made?</button>
            </li>
        </ul>
        <div class="hero__pre-title">
            <img class="hero__img-milk" src="images/hero-milk.png" alt="milk">
            <p class="hero__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href=""></a>
        </div>
        <a href=""></a>
    </section>
</main> -->