<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <section class="section-products">
        <div class="section-products__item">
            <h1 class="section-products__title">products</h1>
            <ul class="card-set">
                <li class="card-set__item">
                    <h2 class="card-set__name">ice cream</h2>
                    <p class="card-set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button type="button" class="btn-products"></button>
                </li>
                <li class="card-set__item card-set__item--first">
                    <h2 class="card-set__name">ice coffee</h2>
                    <p class="card-set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button type="button" class="btn-products"></button>
                </li>
                <li class="card-set__item card-set__item--second">
                    <h2 class="card-set__name">milkshakes</h2>
                    <p class="card-set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
                    <button type="button" class="btn-products"></button>
                </li>
            </ul>
        </div>
        
    
    </section>
<!--     
</body>
</html> -->

