
    <section class="products">
        <div class="container">
            <p class="products__label">100% natural</p>
            <h2 class="products__subtitles">products</h2>
            <ul class="products__list">
                <li class="products__item">
                    <h3 class="products__name">ice cream</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button type="button" class="products__button js-open-modal" data-modal="icecream">
                        <svg class="products__button--icon" width="20" height="20">
                            <use href="./images/symbol-defs.svg#icon-button-right-arrow2"></use>
                        </svg>
                    </button>
                </li>
                <li class="products__item products__item--first">
                    <h3 class="products__name products__name--first">ice coffee</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                    <button type="button" class="products__button js-open-modal" data-modal="icecoffe">
                        <svg class="products__button--icon" width="20" height="20">
                            <use href="./images/symbol-defs.svg#icon-button-right-arrow2"></use>
                        </svg>
                    </button>
                </li>
                <li class="products__item products__item--second">
                    <h3 class="products__name products__name--second">milkshakes</h3>
                    <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button type="button" class="products__button js-open-modal" data-modal="milkshakes">
                        <svg class="products__button--icon" width="20" height="20">
                            <use href="./images/symbol-defs.svg#icon-button-right-arrow2"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div> 
        <!-- <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <button type="button" class="modal-close" data-modal-close>
                    <svg class="modal-close-icon" width="18" height="18">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
        
        </div> -->
       
    
    </section>
    

